<aside class="sidebar">
    <ul>
        <li><a href="/admin/dashboard" class="<%= page === 'dashboard' ? 'active' : '' %>">Dashboard</a></li>
        <!-- <li><a href="/userlist" class="<%= page === 'users' ? 'active' : '' %>">User Management</a></li> -->
        <li><a href="/category" class="<%= page === 'category' ? 'active' : '' %>">category create</a></li>
        <li><a href="/categorylist" class="<%= page === 'category' ? 'active' : '' %>">category List</a></li>
        <li><a href="/subcategory" class="<%= page === 'category' ? 'active' : '' %>">subcategory Create</a></li>
        <li><a href="/subcategorylist" class="<%= page === 'category' ? 'active' : '' %>">subcategory List</a></li>
        <li><a href="/product" class="<%= page === 'category' ? 'active' : '' %>">product Create</a></li>
    </ul>
</aside>

