<aside class="sidebar">
    <ul>
        <li><a href="/admin/dashboard" class="<%= page === 'dashboard' ? 'active' : '' %>">Dashboard</a></li>
        <!-- <li><a href="/userlist" class="<%= page === 'users' ? 'active' : '' %>">User Management</a></li> -->
        <li><a href="/category" class="<%= page === 'category' ? 'active' : '' %>">category Management</a></li>
        <li><a href="/categorylist" class="<%= page === 'category' ? 'active' : '' %>">categorylist Management</a></li>
        <li><a href="/subcategory" class="<%= page === 'category' ? 'active' : '' %>">subcategorylist Management</a></li>
        <li><a href="/product" class="<%= page === 'category' ? 'active' : '' %>">product Management</a></li>
    </ul>
</aside>

